<div class="form-group row ml-1">
  <h3> <div class="spacer5"></div> My Details
  </h3>
</div>
    
    <!-- Grid row -->
    
    <div class="form-group row ml-1">
        <!-- Material input -->
        <div class="col-sm-2 col-form-label-sm">
            <div >
              Employee ID </div>
       </div>
        <div class="col-sm-3">
            <div>{{employeeDetails.id}}</div>
        </div>
        <div class="col-sm-2">
            <div >
              
            </div>
        </div>
        <div class="col-sm-2">
            <div >
              Date Joined
            </div>
        </div>
        <div class="col-sm-3">
            <div >
                {{employeeDetails.dateJoined}}
            </div>
        </div>
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-group row ml-1">
        <!-- Material input -->
        <div class="col-sm-2 col-form-label-sm">
            <div >
              Full Name  </div>
       </div>
        <div class="col-sm-3">
            <div >
                {{employeeDetails.empName}}
            </div>
        </div>
        <div class="col-sm-2">
            <div >
              
            </div>
        </div>
        <div class="col-sm-2">
            <div >
              Department
            </div>
        </div>
        <div class="col-sm-3">
            <div >
                {{employeeDetails.departMent}}
            </div>
        </div>
    </div>
    <!-- Grid row -->

       <!-- Grid row -->
       <div class="form-group row ml-1">
          <!-- Material input -->
          <div class="col-sm-2 col-form-label-sm">
              <div class="md-form mt-0">
                Email Address  </div>
         </div>
          <div class="col-sm-10">
              <div class="md-form mt-0">
                  {{employeeDetails.empEmail}}
              </div>
          </div>
      </div>
      <!-- Grid row -->
             <!-- Grid row -->
             <div class="form-group row ml-1">
                <!-- Material input -->
                <div class="col-sm-2 col-form-label-sm">
                    <div class="md-form mt-0">
                      Mobile Number  </div>
               </div>
                <div class="col-sm-10">
                    <div class="md-form mt-0">
                        {{employeeDetails.empMobile}}
                    </div>
                </div>
            </div>
            <!-- Grid row -->
            <div class="form-group row ml-3 justify-content-center">
                <!-- Material input -->     
                    <div class="md-form">
                        Available Leave Balance  {{employeeDetails.leaveBalance}}
                    </div>      
            </div>


         
<!-- Horizontal material form -->
